# ─────────────────────────────────────────────────────────────────────────────
# Variables d'environnement pour CIH Bank Pipeline (Airflow)
# ─────────────────────────────────────────────────────────────────────────────

# Jeton d'API Apify (Google Places Crawler)
APIFY_API_TOKEN=your_apify_api_token_here

# UID Airflow
AIRFLOW_UID=50000
